@import url("https://fonts.googleapis.com/css?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section {
  position: relative;
  min-height: 100vh;
  background: #ff9780;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition: 0.5s;
}

section .main-container {
  position: relative;
  width: 800px;
  height: 500px;
  background: #fff;
  box-shadow: 1px 15px 50px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

section .main-container .user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

section .main-container .user .imgBox {
  position: relative;
  width: 50%;
  height: 100%;
  transition: 0.5;
}

section .main-container .user .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section .main-container .user .formBox {
  position: relative;
  width: 50%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  transition: 0.5s;
}

section .main-container .user .formBox h2 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  color: #555;
}

section .main-container .user .formBox input {
  width: 100%;
  padding: 10px;
  background: #f5f5f5;
  color: #333;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 14px;
  margin: 8px 0;
  letter-spacing: 1px;
  font-weight: 300px;
}

section.active {
  background: #cfd4d8;
}
section .main-container .user .formBox input[type="submit"] {
  max-width: 100px;
  background: #fa8072;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500px;
  letter-spacing: 1px;
  transition: 0.5s;
}

section .main-container .user.signUp-box .formBox input[type="submit"] {
  background: #677eff;
}
section .main-container .user .formBox .signUp {
  position: relative;
  margin-top: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #555;
  text-transform: uppercase;
  font-weight: 300;
}

section .main-container .user .formBox .signUp a {
  font-weight: 600;
  text-decoration: none;
  color: #fa8072;
}

section .main-container .signUp-box {
  pointer-events: none;
}

section .main-container.active .signUp-box {
  pointer-events: initial;
}

section .main-container .signUp-box .formBox {
  top: 100%;
}

section .main-container .signUp-box .imgBox {
  top: -100%;
  transition: 0.5s;
}

section .main-container.active .signUp-box .formBox {
  top: 0;
}

section .main-container.active .signUp-box .imgBox {
  top: 0;
}

section .main-container .signIn-box .formBox {
  top: 0;
}

section .main-container.active .signIn-box .formBox {
  top: 100%;
}

section .main-container .signIn-box .imgBox {
  top: 0;
  transition: 0.5s;
}

section .main-container.active .signIn-box .imgBox {
  top: -100%;
}

@media (max-width: 991px) {
  section .main-container {
    max-width: 400px;
  }
  section .main-container .imgBox {
    display: none;
  }
  section .main-container .user .formBox {
    width: 100%;
  }
  section .main-container.active .signIn-box .formBox {
    top: -100%;
  }
}
